app-template:
  # Configure options applied to all pods
  defaultPodOptions:
    automountServiceAccountToken: false
    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

  controllers:
    # Configure the main controller
    main:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

      containers:
        # Configure the main application container
        main:
          image:
            # -- image repository
            repository: ghcr.io/home-operations/home-assistant
            # -- image tag
            # this example is not automatically updated, so be sure to use the latest image
            tag: 2025.10.4

        # Configure the code-server sidecar
        code:
          dependsOn: main
          image:
            # -- image repository
            repository: ghcr.io/coder/code-server
            # -- image tag
            # this example is not automatically updated, so be sure to use the latest image
            tag: 4.105.1-39
          args:
            - --auth
            - "none"
            - --user-data-dir
            - "/config/.vscode"
            - --extensions-dir
            - "/config/.vscode"
            - --port
            - "8081"
            - "/config"

  service:
    # Configure a service for the main application
    main:
      type: ClusterIP
      ports:
        http:
          port: 8123
    ocpp:
      type: ClusterIP
      controller: main
      ports:
        wss:
          port: 9000
    # Configure a service for the code-server sidecar
    code:
      type: ClusterIP
      controller: main
      ports:
        http:
          port: 8081

  ingress:
    # Configure an Ingress for the main application
    main:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: home-assistant.apps.k8s1.cottage.my-lab.cz
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - home-assistant.apps.k8s1.cottage.my-lab.cz
    # Configure an Ingress for the ocpp application
    ocpp:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        kubernetes.io/proxy-read-timeout: "3600"
        kubernetes.io/proxy-send-timeout: "3600"
        kubernetes.io/server-snippets: |
          location / {
            proxysetheader Upgrade $httpupgrade;         # upgrade header demands upgrade on the same tcp conn.
            proxyhttpversion 1.1;
            proxysetheader X-Forwarded-Host $httphost;
            proxysetheader X-Forwarded-Proto $scheme;
            proxysetheader X-Forwarded-For $remoteaddr;
            proxysetheader Host $host;
            proxysetheader Connection "upgrade";
            proxycachebypass $httpupgrade;
          }      
      hosts:
        - host: ocpp.apps.k8s1.cottage.my-lab.cz
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                name: ocpp
                port: wss
      tls:
        - hosts:
            - ocpp.apps.k8s1.cottage.my-lab.cz
    # Configure an Ingress for the code-server sidecar
    code:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: home-assistant-code.apps.k8s1.cottage.my-lab.cz
          paths:
            - path: /
              pathType: Prefix
              service:
                name: code
                port: http
      tls:
        - hosts:
            - home-assistant-code.apps.k8s1.cottage.my-lab.cz
      annotations:
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-secret: basic-auth
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'

  persistence:
    # Configure the main configuration storage location
    config:
      enabled: true
      existingClaim: home-assistant-config
      globalMounts:
        - path: /config

    # # Configure an NFS mount to store backups on
    # backup:
    #   enabled: true
    #   type: nfs
    #   server: nas.example.lan
    #   path: /volume/Backups/k8s/hass
    #   globalMounts:
    #     - path: /config/backups
