apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-esphome
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/xtrasolver/cottage-lab.git
      targetRevision: HEAD
      path: infra/resources/esphome
  destination:
    server: "https://kubernetes.default.svc"
    namespace: esphome
  syncPolicy:
    # automated: {}
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true