apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/xtrasolver/cottage-lab.git
      targetRevision: HEAD
      path: infra/resources/ingress
    - repoURL: https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      targetRevision: 4.14.0
      helm:
        releaseName: ingress
        valuesObject:
          controller:
            extraArgs:
              default-ssl-certificate: certmanager/tls-wildcard
            metrics:
              enabled: true
              serviceMonitor:
                enabled: false
            admissionWebhooks:
              enabled: false
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ingress
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
