influxdb:
  api_version: 2
  ssl: true
  host: !env_var INFLUXDB_HOST
  port: !env_var INFLUXDB_PORT
  token: !env_var INFLUXDB_TOKEN
  organization: !env_var INFLUXDB_ORGANIZATION
  bucket: !env_var INFLUXDB_BUCKET
  tags:
    source: HA
  tags_attributes:
    - friendly_name
  default_measurement: units
  # exclude:
  #   entities:
  #     - zone.home
  #   domains:
  #     - persistent_notification
  #     - person
  # include:
  #   domains:
  #     - sensor
  #     - binary_sensor
  #     - sun
  #   entities:
  #     - weather.home