influxdb:
  api_version: 2
  ssl: true
  host: influxdb.apps.k8s1.cottage.my-lab.cz
  port: "443"
  token: 4QpoFesMdoEaAd7jgpZSOkjfl3uL_JEXABDbdcOqTxbc3Bo7_3B0DioFtL8iSmVNWmoKZAC2zmzCdju1AY6ZzQ==
  organization: 3697fdf70894ba18
  bucket: ha
  tags:
    source: HA
  tags_attributes:
    - friendly_name
  default_measurement: units
  # exclude:
  #   entities:
  #     - zone.home
  #   domains:
  #     - persistent_notification
  #     - person
  # include:
  #   domains:
  #     - sensor
  #     - binary_sensor
  #     - sun
  #   entities:
  #     - weather.home